<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>17932145134-ih7jmrun703p0tqcpujinolf2kq8ijsm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.17932145134-ih7jmrun703p0tqcpujinolf2kq8ijsm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>17932145134-9td3pfvi6hn15kluej9r49vmnhe3sopq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDesaHaDGuLhqTNfg8tThG1Ogd6MVJcVr4</string>
	<key>GCM_SENDER_ID</key>
	<string>17932145134</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ios.connectApp</string>
	<key>PROJECT_ID</key>
	<string>connect-giant</string>
	<key>STORAGE_BUCKET</key>
	<string>connect-giant.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:17932145134:ios:131bf716fb7191f045beff</string>
</dict>
</plist>